.repos {
  flex-grow: 1;
  padding-left: 50px;

  &__item {
    margin-bottom: 30px;
  }

  &__name {
    margin: 0 0 5px;
    color: var(--color-primary);
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__description {
    margin: 0 0 10px;
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
  }

  &__stars {
    display: flex;
    align-items: center;

    > span {
      padding-left: 10px;
      color: var(--color-text);
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
